/* Стилизация кнопки */
@import url(/assets/css/main.css);

.button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}
.button_primary {
    background: var(--blue);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 60px;
    color:var(--white);
    border: transparent;
    cursor: pointer;
}
.button_primary:hover {
    background: var(--sapphire);
}
.button_primary:disabled {
    background: var(--blue);
    opacity: 0.5;
    padding: 15px 60px;
    color:var(--white);
    border: transparent;
    cursor: not-allowed;
}
.button_secondary {
    background: var(--purple);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 60px;
    color:var(--white);
    border: transparent;
    cursor: pointer;
}
.button_secondary:hover {
    background: var(--plum);
}
.button_secondary:disabled {
    background: var(--purple);
    opacity: 0.5;
    padding: 15px 60px;
    color:var(--white);
    border: transparent;
    cursor: not-allowed;
}
.button_alternate {
    background: var(--white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 60px;
    color:var(--grey-4);
    border: 1px solid var(--grey-3);
    cursor: pointer;
}
.button_alternate:hover {
    border: 1px solid var(--black);
}
.button_alternate:disabled {
    background: var(--white);
    opacity: 0.3;
    border: 1px solid var(--grey-3);
    padding: 15px 60px;
    color:var(--grey-4);
    cursor: not-allowed;
}
