.container {
    max-width: 1110px;
    margin: 0 auto;
   
}
.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background: var(--white);
    padding: 30px;
}
.skeleton__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.skeleton__logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--grey-2);
}

.skeleton__content {
    width: 100%;
    gap: 20px;
}

.skeleton__line {
    margin-bottom: 8px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__line-l {
    width: 100%;
}
.skeleton__line-m {
    width: 50%;
}
.skeleton__line-s {
    width: 30%;
}
