.preview {
    background: var(--grey-5);
    padding: 68px 0;
    overflow-x: hidden;
}
.preview__cards {
    font-size: 0;
    margin: -15px;
}
.preview__card {
    font-size: 16px;
    margin: 15px;
}